
<head>

  <title>{{projectName}} </title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
  <body>

    <section class="form">
  <form class="forms">
        <img src="assets/logo.jpg"><br><br>
        <br><h3 class="login">Login</h3>
        <div class="user">
          <label><i class="fa fa-user-o" style="font-size:35px"></i>
          </label>
            <input type="text" id="fname" name="fname" placeholder="User Name.." [(ngModel)]="userName"><br>
          </div>
          <div class="email">
            <label><i class="fa fa-envelope-o" style="font-size:35px"></i>
            </label>  
            <input type="text" id="lname" name="lname" class="E-mail" placeholder="email.." [(ngModel)]="eMail"><br>
            <button>Login</button>
            <app-output [namee]="userName" [emaill]="eMail"></app-output>
        </div>
  </form>
  </section>
</body>
